/* Adding background image to body */
body {
    background-image: url("./pattern.png");
    background-repeat: repeat;
    background-size: auto;
}
/* It is defined to be used on the most outer div. */
.container {
    /* positioning the div in center of the page (vertically and horizontally). */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* styling the shape */
    border-radius: 35px;
    border: 1px solid black;
    width: 520px;
    height: 300px;
    background-color: rgba(134, 206, 248, 0.5);
    /* using grid system (2 columns, and 100px rows) */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* It is defined to be set the border of input text field. */
.input-text {
    border: 1px solid black;
}

/* It is defined to be style all buttons (Submit, Save, Clear). */
.custom-btn {
    background-color: white;
    color: black;
    border: 1.5px solid #555555;
    border-radius: 3px;
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
}

/* It is defined to keep each element of form (text input, radio btn, buttons) away from the borders of the container. */
/* It is used on div elements, each element of form is wrapped in a div and then we use this to padding that div. */
.padder {
    padding-left: 2rem;
    padding-bottom: 1rem;
}

/* It is defined to style the box showing the api results(the box under "prediction" text). */
.prediction-box {
    width: 180px;
    height: 50px;
    background-color: inherit;
}

/* It is defined to style the box showing the stored results(the box containing "saved answers" text). */
.stored-box {
    position: relative;
    margin-top: 22px;
    width: 180px;
    height: 130px;
    background-color: inherit;
    border: 1px dashed #555555;
}

/* It is used to style the text in stored box: "saved answers" */
.stored-heading {
    margin: 0;
}

/* According to the PDF, "Clear" button is in the bottom of "saved answers" with a little bit margin from below. */
/* This class is used to push the clear button to bottom of that box. */
.clear-btn-position {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
}

/* Because I changed the color and background color of all button, I must change the color and background 
   color of those buttons when they clicked. */
.custom-btn:active {
    background-color: #999;
    color: white;
}

/* It is defined to style the notification bar */
.notification-bar {
    /* positioning the bar at the bottom of the page */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    /* styling */
    border-radius: 15px;
    border: 2px solid rgb(88, 37, 37);
    width: 520px;
    height: 50px;
    background-color: rgb(190, 135, 127);
    cursor: pointer;

    /* by default notification bar is not visible */
    /* we change this attribute every time that we want to show something on the bar */
    display: none;

}

/* This styling is defined to make it clear to user that he is able to close it */
.notification-bar:hover {
    background-color: rgb(219, 189, 184);
    border: 2px solid rgb(133, 62, 62);
}

/* This is defined to style the message inside the notification bar */
.notification-message {
    display: inline-block;
    padding-top: 12px;
    padding-left: 20px;
    color: rgb(80, 24, 24);
}